body{
    background-color: beige;
}
label{
    margin-left: 5px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dark-mode {
    background-color: black;
    color: white;
}
.input_text{
    display: block;
    width: 70%;
    margin: 0px;
    margin-left: 5px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

table{
    display: block;
    /* margin: 425px; */
    margin-top: -840px;
    margin-bottom: 10px;
    margin-left: 600px;
    margin-right: 440px;

}
th{
    border: 1px solid violet;
}
td{
    border: 1px solid violet;
}
.btnContraste{
    display: block;
    margin: 1px;
    margin-top: 70px;
    margin-bottom: 1px;
    margin-left: 800px;
    margin-right: 1px;
}
input{
    border: 2px solid black;
}
p{
    font-size: 20px;
    margin-top: 1px;
    margin-left: 5px;
}
.formulario{
    display: block;
    border: 2px solid beige;
    margin: 0px;
    margin-left: 10px;
    margin-right: 1310px;
}

.buttonI{
    margin: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 150px;
    margin-right: 0px;
}
.buttonA{
    margin: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 0px;
}